<div style="width: auto;">
  <h3 style="font-style: italic;
            font-size: 15px;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20px auto;
            padding: 12px;">
    <strong>Prepare se</strong>
  </h3>

  <p style="color: #fff">
    <em style="color: #7d40e7">{{deliveryman}}</em>,
  </p>

  <p style="color: #fff">
    houve uma atualização na sua entrega.
  </p>

  <h3 style="color: #fff">
    Veja os detalhes abaixo:
  </h3>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Cliente: {{ recipient }}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Rua: {{street}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Número: {{number}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Cidade: {{city}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Estado: {{state}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">CEP: {{zip_code}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Produto: {{product}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Entrega de número: {{id}}
  </p>


</div>
