<div style="width: auto;">
  <h3 style="font-style: italic;
            font-size: 15px;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20px auto;
            padding: 12px;">
    <strong>Prepare se</strong>
  </h3>

<div>
  <p style="color: #fff">
    <em style="color: #7d40e7">{{deliveryman}}</em>,
  </p>

  <p style="color: #fff">
    houve um cancelamento de entrega por parte da FastFeet.
  </p>

  <h3 style="color: #fff">
    Desconsidere os dados abaixo:
  </h3>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Cliente: {{ recipient_name }}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Rua: {{recipient_street}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Número: {{recipient_number}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Cidade: {{recipient_city}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Estado: {{recipient_state}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">CEP: {{recipient_zip_code}}
  </p>

  <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Produto: {{product}}
  </p>

 <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500">Entrega de número: {{id}}
  </p>

   <p style=" display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          margin: 0 auto;
          color: #fff;
          font-weight: 500"> Desculpe nos quaisquer transtornos.
  </p>
</div>
</div>
